@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-custom-green-10: var(--custom-green-10);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --custom-green-10: rgb(59, 130, 246);
  --radius: 0.625rem;
  --background: rgb(255, 255, 255);
  --foreground: rgb(0, 0, 0);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(0, 0, 0);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(0, 0, 0);
  --primary: rgb(59, 130, 246);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(245, 245, 245);
  --secondary-foreground: rgb(0, 0, 0);
  --muted: rgb(250, 250, 250);
  --muted-foreground: rgb(115, 115, 115);
  --accent: rgb(240, 249, 255);
  --accent-foreground: rgb(0, 0, 0);
  --destructive: rgb(239, 68, 68);
  --border: rgba(0, 0, 0, 0.1);
  --input: rgba(0, 0, 0, 0.1);
  --ring: rgb(37, 99, 235);
  --chart-1: rgb(30, 64, 175);
  --chart-2: rgb(59, 130, 246);
  --chart-3: rgb(96, 165, 250);
  --chart-4: rgb(147, 197, 253);
  --chart-5: rgb(191, 219, 254);
  --sidebar: rgb(255, 255, 255);
  --sidebar-foreground: rgb(0, 0, 0);
  --sidebar-primary: rgb(37, 99, 235);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(240, 249, 255);
  --sidebar-accent-foreground: rgb(0, 0, 0);
  --sidebar-border: rgba(0, 0, 0, 0.1);
  --sidebar-ring: rgb(29, 78, 216);
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
